{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title%}
Alerte
{%endblock%}

{% block link%} 
<link rel="stylesheet" href="{% static 'static_alert/css/create_alert.css' %}">
{%endblock%}

{% block body%}
<div class="container a4_container">
    <form action="/alerte/" method="POST" class="a4_containt_form" enctype="multipart/form-data">
        <h1>Créer une annonce</h1>
        <br/>
        <br/>
        {% csrf_token %}
        {% render_field form.user class="a4_user" %}
        <div class="formulaire two_element">
            <div>
                <label for="">Type d'animal</label>
                {% render_field form.type_animal class="input" %}
            </div>
            <div>
                <label for="">Type d'alerte</label>
                {% render_field form.type_alert class="input" %}
            </div>
        </div>
        <div class="formulaire two_element">
            <div>
                <label for="">Couleur</label>
                {% render_field form.color class="input" %}
            </div>
            <div>
                <label for="">Sexe</label>
                {% render_field form.gender class="input" %}
            </div>
        </div>



        <div class="formulaire">
            <div class="email">
                <label for="">Email</label>
                {% render_field form.email class="input" %}
            </div>
            <div class="date">
                <label for="">Date</label>
                {% render_field form.date class="input" type="date" %}
            </div>
        </div>
        <div class="formulaire">
            <div>
                <label for="">Ville</label>
                {% render_field form.city class="input" %}
            </div>
            <div>
                <label for="">Street</label>
                {% render_field form.street class="input" %}
            </div>
            <div>
                <label for="">Code postale</label>
                {% render_field form.postal_code class="input" %}
            </div>
        </div>
        <div class="formulaire description">
            <div>
                <label for="">Informations supplémentaires</label>
                {% render_field form.commentary class="input" %}
            </div>
        </div>
        {{form.img}}

        <br/>
        <div class="form-group a4_block_submit">
            <button type="submit" class="btn btn-primary">Valider</button>
            <img src="{% static 'static_alert\assets\alerte\dog_and_cat.png' %}" alt="dog" title="Alerte">
        </div>
</div>
</fieldset>
</form>
<br>
</div>
{%endblock%}